#container {
    width: 960px;
    height: 960px;
    background-color: pink;
    display: flex;
    flex-flow: wrap;
}

.pixel {
    width: 50px;
    height: auto;
    /* flex-grow: 1; */
    background-color: blue;
}

.pixel:hover {
    background-color: black;
}