#container {
    width: 960px;
    height: 960px;
    background-color: pink;
    display: flex;
    flex-flow: wrap;
}

.pixel {
    width: 10px;
    height: auto;
    flex-grow: 1;
}

.pixel:hover {
    background-color: black;
}